/*
Here is the index CSS file + comments. Comments here will NOT be repeated in the other files. Additional comments might be added to the other files if further explanation is needed.

Normal things like font sizes and colours etc will not be discussed in this file since these are very basic things.
*/
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0 0;
  line-height: 0.2em;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: gray;
  transition: all 0.3s ease;
}
/*Using CSS grids for a responsive website. Dividing the grid into 4 columns and 3 rows that can easily be managed.*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8vh auto 8vh;
  height: 95vh;
  grid-gap: 1em;

}
/*The header of the page is divided from the beginning of column 1 to the end of column 4.*/
header {
  grid-column: 1 / 5;
  align-items: center;
}
footer {
  font-family: 'Lobster', cursive;
  grid-column: 1 / 5;
  padding: 2em;
  vertical-align: middle;
  text-align: center;
}
/*Having split into 4 columns we place the top left link in the first two columns while we place the top right link in the 3rd and 4th column. The reason for not putting the links in only one column is for the mobile version of the website where the links get better placed if given more room.*/
.headerleft {
  align-self: center;
  margin-left: 2em;
  grid-column: 1 / 3;
}
.headerleft:hover {
  color: gray;
}
.headerright {
  align-self: center;
  text-align: right;
  margin-right: 2em;
  grid-column: 3 / 5;
}
.headerright:hover {
  color: gray;
}
/*The main area of the website I.e. row 2 in the grid is split into a sub grid containing 5 columns for more flexibility and 4 rows, combining auto heights and fixed heights. */
article {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 50px 50px auto ;
  grid-gap: 1em;
  padding: 1em;
}
.titles {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  align-self: center;
  padding: 0;
}
.titles > p {
  line-height: 1.5em;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 8em;
  color: #2c2c2c;
  text-shadow:
    4px 4px 0px #d5d5d5,
    7px 7px 0px rgba(0, 0, 0, 0.2);
}
h2 {
  text-align: center;
  font-size: 1.3em;
}
.line {
  justify-self: center; /*This is not accepted by the CSS validator*/
  box-sizing: border-box;
  color: black;
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  width: 100%;
  align-self: center;
  text-align: center;
  -webkit-animation-name: ex; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: ex;
  animation-duration: 10s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes ex {
    0%   {width: 80%}
    0%   {width: 0%}
    100%   {width: 80%}
}
/* Standard syntax */
@keyframes ex {
  0%   {width: 80%}
  0%   {width: 0%}
  100%   {width: 80%}
}
/*Designing the search bar*/
.search {
  grid-row: 3 / 4;
  grid-column: 2 / 5;
  margin: 0 4vw;
}
.search > a {
  padding: 2em;
}
.icon {
  display: grid;
}
.container-1{
  width: 100%;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 100%;
  height: 50px;
  background: #EF5350;
  border: none;
  font-size: 10pt;
  float: left;
  color: white;
  padding-left: 45px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
  -moz-appearance: none;/* older firefox */
 -webkit-appearance: none; /* safari, chrome */
 appearance: none;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: white;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: #EF5350;}
    0%   {background-color: white;}
    100%   {background-color: #EF5350;}
}
/* Standard syntax */
@keyframes example {
  0%   {background-color: #EF5350;}
  0%   {background-color: white;}
  100%   {background-color: #EF5350;}
}
/*Color for the searchbar, not accepted by validator*/
.container-1 input#search::-webkit-input-placeholder {
  color: white;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
  color: white;
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}
.container-1 input#search:-ms-input-placeholder { /*Other Browser*/
  color: white;
}
.button {
  justify-self: center;
  text-align: center;
  grid-row: 4 / 5;
  grid-column: 3 / 4;

  width: 100%;
  height: 50px;
  background: #EF5350;
  border: none;
  font-size: 10pt;
  color: white;
  border-radius: 3px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
}
.button > a {
  color: white;
}
/*Image for the christmas joke

img {
  grid-row: 1 / 2;
  grid-column: 2 / 5;
  height: 300px;

  align-self: center;

}*/

/*Using the @media tag to resize the reposition blocks of the website for the mobile versions. Using different @media tags for different viewports. For example: we are changing the font for the smaller screens and lessening the padding around the page.*/
@media all and (max-width: 1000px) {
  article {
    grid-column: 1 / 5;
  }
  h1 {
    font-size: 6em;
  }
  img {
    height: 20vh;
  }
  .titles > p {
    font-size:0.9em;
  }
  .search {
    grid-column: 1 / 6;
  }
  .button {
    grid-column: 2 / 5;
  }
}
@media all and (max-width: 480px) {
  article {
    grid-column: 1 / 5;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1em;
  }
}
